* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

a {
    text-decoration: none;
}

header {
    /* height: 100%; */
    width: 100%;
    background-color: hsl(209, 81%, 17%);
    top: 0;
    position: sticky;
    z-index: 999;
}

.main1 {
    width: 100%;
    /* padding-top: 40px; */
    display: flex;
    justify-content: space-between;
}

.title {
    width: 50%;
    font-size: 20px;
    color: white;
    padding: 15px 0;
}

.navbar {
    width: 40%;
    font-size: 20px;
    padding: 15px 0
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li a {
    color: white;
    font-size: 20px;
    position: relative;
}

.navbar ul li a::before {
    position: absolute;
    content: '';
    width: 0;
    transition: all 0.1s ease-in-out;
    bottom: -4px;
    opacity: 0;
    background-color: #ffcc00;
    height: 2px;
}

.navbar ul li a:hover::before {
    width: 100%;
    opacity: 1
}

.box {
    padding: 100px 0;
    width: 100%;
    background-color: #082c4e;
}

.main2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-in {
    width: 54%;
    color: white;
}

p {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 40px;
}

h5 {
    font-size: 67px;
    letter-spacing: 2px;
    font-weight: 100;
}

.image img {
    width: 100%;
}

.image {
    width: 40%;
}

button {
    color: white;
    font-size: 30px;
    background-color: transparent;
    margin-top: 30px;
    border-radius: 40px;
    border: 2px solid white;
    padding: 10px 40px;
}

button:hover {
    color: grey;
}

section {
    width: 100%;
    padding-bottom: 80px;
}

h1 {
    color: #082c4e;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 4px 5px black;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* color-part */

.color {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-around;
}

.color1 {
    background-color: #fe6571;
}

.color .col {
    width: 22%;
}

.col {
    padding: 20px;
    color: #082c4e;
}

i {
    font-size: 90px;
    padding: 30px 20px;
    font-weight: 100;
}

.col h2 {
    font-size: 40px;
    font-weight: 100;
}

.col a {
    padding-bottom: 40px;
    color: #082c4e;
    position: relative;
}

.col a::before {
    position: absolute;
    content: '';
    width: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    height: 2px;
    bottom: 0;
    top: 25px;
    background-color: #082c4e;
}

.col a:hover::before {
    width: 100%;
    opacity: 1;
}

.color2 {
    background-color: #ffcc00;
}

.color3 {
    background-color: #22a5e5;
}

.color4 {
    background-color: #f2eae1;
}

.color .color5 {
    background-color: brown;
    margin-top: 20px;
}


/* section1 */

.section1 {
    width: 100%;
    background-color: #082c4e;
    padding: 100px 0;
}

.box1 {
    margin: 0 15%;
}

.box1 h2 {
    width: 100%;
    font-size: 50px;
    color: white;
    font-weight: 100;
}

.box1 a {
    font-size: 50px;
    color: #ffcc00;
    position: relative;
}

.box1 a::before {
    position: absolute;
    content: '';
    width: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
    height: 2px;
    bottom: 0;
    top: 80px;
    background-color: #ffcc00;
}

.box1 a:hover::before {
    width: 100%;
    opacity: 1;
}

.section2 {
    width: 100%;
    padding: 100px 0;
    /* display: flex; */
}


/* .wrapper1 {
    display: flex;
    flex-wrap: wrap;
} */

.part1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.part1 i {
    color: #ffcc00;
    width: 25%;
}

.part1 h3 {
    font-size: 30px;
    padding-top: 40px;
}

.space {
    /* padding-left: 50px; */
    width: 100%;
}

.part1 p {
    font-size: 20px;
    padding-bottom: 10px;
}

.part1 a {
    font-size: 15px;
    color: #22a5e5;
    position: relative;
}

.part1 a::before {
    position: absolute;
    content: '';
    height: 20px;
    background-color: #ffcc00;
    opacity: 0;
    border-radius: 25px;
    z-index: -1;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 0;
}

.part1 a:hover::before {
    width: 100%;
    opacity: 1;
}


/********** section3 ******/

.section3 {
    width: 100%;
    font-weight: 100;
    background-color: #ffcc00;
    padding: 200px 0;
}

.research {
    display: flex;
    justify-content: space-between;
}

.box2 {
    width: 50%;
}

.box2 h2 {
    font-size: 80px;
    padding-bottom: 25px;
    font-weight: 100;
}

.box2 p {
    padding-bottom: 60px;
}

.box2 i {
    font-size: 20px;
    color: #f2eae1;
    background-color: skyblue;
    border-radius: 15px;
    padding: 3px 7px;
    /* margin-left: 10px; */
    margin-right: 15px;
}

.image2 {
    width: 45%;
}

.image2 img {
    width: 100%;
}


/* section4 */

.section4 {
    width: 100%;
    padding: 100px 0;
}

.project {
    width: 100%;
}

.project h6 {
    font-size: 40px;
}

table {
    width: 100%;
    margin-top: 50px;
}

tr {
    display: flex;
    border-top: 2px solid #22a5e5;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
}

.project i {
    font-size: 30px;
    color: #f2eae1;
    background-color: #082c4e;
    border-radius: 100px;
    padding: 3px 7px;
}

td:first-child {
    width: 50px;
}

td {
    font-size: 18px;
    padding-bottom: 25px
}


/* table-under */


/* section5 */

.section5 {
    background-color: #082c4e;
    width: 100%;
    padding: 100px 0;
    justify-content: space-between;
}

.partner {
    display: flex;
}

.text1 {
    width: 70%;
    margin-right: 30px;
}

.text1 h3 {
    font-size: 50px;
    font-weight: 100;
    color: #f2eae1;
    letter-spacing: 2px;
}

.partner p {
    color: #f2eae1;
    padding: 20px 0;
}

.main3 {
    width: 50%;
}

.text2 {
    width: 100%;
    color: white;
    margin-bottom: 40px;
}

.text2 h6 {
    font-size: 30px;
    background-color: #fe6571;
    padding-left: 20px;
}

.text2 p {
    background-color: #fe6571;
    padding-left: 20px;
    color: #f2eae1;
    font-size: 20px;
}

.text2,
a {
    color: aliceblue;
}

.main3 i {
    font-size: 40px;
    /* margin-left: 30%; */
}

.text3 {
    width: 100%;
    color: white;
}

.text3 h6 {
    font-size: 30px;
    background-color: #2d1fc2;
    padding-left: 20px;
}

.text3 p {
    background-color: #2d1fc2;
    padding-left: 10px;
    color: #f2eae1;
    font-size: 20px;
}

.markrting {
    width: 30%;
    padding: 100PX;
}

.pink {
    display: flex;
    width: 50%;
    padding: 100px 0;
}

.pink,
h3 p {
    color: white;
    font-size: 20px;
}

.blue {
    width: 100%;
    background-color: #fe6571;
    padding: 30px;
    margin-bottom: 30px;
}

.pink a {
    position: relative;
}

.pink a::before {
    position: absolute;
    content: '';
    width: 0;
    opacity: 0;
    height: 2px;
    bottom: 1px;
    background-color: #fff;
    transition: all 0.7s ease-in-out;
}

.pink a:hover::before {
    width: 100%;
    opacity: 1;
}

.blue:hover {
    transform: scale(1.05);
}

.yellow {
    width: 100%;
    background-color: #2d1fc2;
    padding: 30px;
}

.yellow:hover {
    transform: scale(1.05);
}

.pink-size {
    width: 80%;
}

.icon {
    width: 20%;
}

.icon i {
    font-size: 50px;
    color: #f2eae1;
}


/* section6 */

.section6 {
    width: 100%;
    padding: 100px 0;
}

.innovation {
    width: 100%;
}

.innovation h3 {
    font-size: 50px;
}

.innovation p {
    font-size: 20px;
    padding: 40px 0;
    letter-spacing: 1px;
}

.innovation h4 {
    font-size: 20px;
}

.innovation img {
    width: 80px;
    border-radius: 80px;
    /* margin-right: 25px; */
}

.boxi {
    font-size: 20px;
    position: absolute;
    padding: 30px;
    color: #f2eae1;
    background-color: #3098f3;
    border-radius: 25px;
    margin-bottom: 50px;
    position: relative;
}

.boxi::before {
    position: absolute;
    content: "";
    height: 0;
    border-style: solid;
    border-width: 35px 40px 0 18px;
    border-color: #3098f3 transparent transparent transparent;
    top: 100px;
}

.team {
    display: flex;
    padding-top: 10px;
}

.team2 h4,
p {
    font-size: 20px;
    padding-top: 18px;
}


/* *****section7***** */

.section7 {
    width: 100%;
    padding: 150px;
    background-color: #082c4e;
}

.section7-in h3 {
    font-size: 60px;
    font-weight: 100;
    color: white;
    text-align: center;
    /* margin: 0 90px; */
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.main4 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.box3 {
    width: 26%;
    text-align: center;
}

.box3 img {
    border-radius: 70%;
    width: 60%;
    padding: 30px 0;
    padding-left: 25px;
    padding-right: 25px;
}

.box3 h3 {
    color: #ffcc00;
    padding: 20px 0;
    font-size: 30px;
    letter-spacing: 1px;
}

.box3 a {
    color: white;
    font-size: 15px;
    position: relative;
    font-weight: bold;
    z-index: 0;
}

.box3 a::before {
    position: absolute;
    content: '';
    left: -10px;
    height: 20px;
    padding: 0 10px;
    background-color: #fe6571;
    width: 0;
    opacity: 0;
    border-radius: 25px;
    transition: 0.3s ease-in-out all;
    z-index: -1;
}

.box3 a:hover::before {
    width: 100%;
    opacity: 1;
}


/* section8 */

.section8 {
    width: 100%;
    padding: 100px 0;
}

.main5 {
    width: 100%;
    display: flex;
}

.box4 {
    padding: 100px;
}

.yello {
    width: 50%;
    background-color: #ffcc00;
    padding: 100px;
    overflow: visible;
    position: relative;
}

.yello::before {
    position: absolute;
    left: 100%;
    top: 0;
    background: #ffcc00;
    width: 0%;
    height: 100%;
    transition: all 0.5s;
    content: '';
    z-index: 5;
}

.yello:hover::before {
    opacity: 1;
    width: 100%;
}

.yello::after {
    position: absolute;
    content: '\f015';
    top: 50%;
    right: -50%;
    transform: translate(50%, -50%);
    font-size: 100px;
    opacity: 0;
    transition: all 1s linear;
    font-family: 'FontAwesome';
}

.yello:hover::after {
    opacity: 1;
    z-index: 999;
}

.yello h4 {
    font-size: 30px;
    color: #22a5e5;
}

.yello a {
    color: black;
}

.box4 p {
    font-size: 20px;
    padding: 20px 0;
}

.sky {
    width: 50%;
    background-color: #22a5e5;
    overflow: visible;
    position: relative;
}

.sky::before {
    position: absolute;
    content: '';
    right: 100%;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #22a5e5;
    transition: all 0.5s;
    z-index: 5;
    /* transition-delay: 0.3s; */
}

.sky:hover::before {
    opacity: 1;
    width: 100%;
}

.sky::after {
    position: absolute;
    content: '\f0c0';
    font-size: 100px;
    font-family: 'FontAwesome';
    top: 50%;
    left: -95%;
    opacity: 0;
    z-index: -1;
    transition: all 1s linear;
    transform: translate(95%, -50%);
}

.sky:hover:after {
    opacity: 1;
    z-index: 999;
}

.sky h4 {
    font-size: 30px;
    color: #ffcc00;
}

.sky p {
    font-size: 20px;
    padding: 20px 0;
    color: #f2eae1;
}


/* section9 */

.section9 {
    width: 100%;
    padding: 100px 0;
    background-color: #f2eae2;
}

.main6 {
    display: flex;
    justify-content: space-between;
}

.main6 i {
    font-size: 10rem;
    color: #ffcc00;
    width: 26%;
    /* margin-right: 30px; */
}

.main7 {
    padding-top: 20px;
    /* width: 75%; */
}

.main7 h3 {
    color: #22a5e5;
}

.main7 h2 {
    padding: 20px 0;
}


/* ****section10**** */

.section10 {
    width: 100%;
}


/* footer */

footer {
    width: 100%;
    background-color: #082c4e;
    padding: 100px;
}

.main8 {
    width: 100%;
    display: flex;
    color: #f2eae1;
    justify-content: space-between;
}

.main8-in1 {
    width: 40%;
    color: #f2eae2;
}

.main8-in1 p {
    padding-bottom: 50px;
}

.main8-in2 {
    width: 15%;
    /* margin-left: 80px; */
    /* padding-left: 100px; */
}

.main8-in2 ul li {
    flex-wrap: wrap;
    padding-bottom: 10px;
    font-size: 10px;
}

.main8-in2 a {
    font-size: 20px;
}

.main8-in3 {
    width: 10%;
}

.main8-in3 i {
    font-size: 20px;
    /* margin-left: 100px; */
    padding-top: 5px;
}


/* form */

.copy {
    width: 100%;
    display: flex;
}

.form {
    width: 50%;
    color: #fff;
}

.form h4 {
    font-size: 20px;
    color: whitesmoke;
}

.form1 input {
    background: transparent;
    color: white;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid;
    line-height: 30px;
    font-size: 20px;
    width: 45%;
}

.form1 {
    width: 50%;
    color: #fff;
}

.form1 i {
    color: #fff;
    font-size: 15px;
    margin-left: -40px;
}


/* @media query  */

@media(max-width:800px) {
    * {
        overflow-x: hidden;
        word-wrap: break-word;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:800px) {
    section {
        width: 100%;
        padding-bottom: 80px;
    }
}

@media( max-width:800px) {
    .main1 {
        flex-wrap: wrap;
        word-wrap: wrap;
    }
    .navbar ul {
        flex-wrap: wrap;
    }
    .main2 {
        flex-wrap: wrap;
    }
    .header-in {
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
    }
    .image {
        width: 100%;
    }
    .box1 {
        text-align: center;
    }
    /* .col {
        flex-wrap: wrap;
    } */
    .part1 {
        flex-wrap: wrap;
        text-align: center;
    }
    .part1 i {
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
    .research {
        flex-direction: column;
    }
    .box2 {
        text-align: center;
        width: 100%;
    }
    .image2 {
        width: 100%;
    }
    .partner {
        flex-wrap: wrap;
    }
    .text1 {
        text-align: center;
        width: 100%;
    }
    .markrting {
        width: 100%;
    }
    .pink {
        text-align: center;
    }
    .icon i {
        text-align: center;
        flex-wrap: wrap;
    }
    .innovation {
        text-align: center;
    }
    .section7-in {
        text-align: center;
    }
    .main4 {
        flex-wrap: wrap;
    }
    .box3 {
        width: 50%;
    }
    .box3 img {
        width: 100%;
    }
    .main5 {
        flex-wrap: wrap;
    }
    .yello {
        width: 100%;
    }
    .sky {
        width: 100%;
    }
    .box4 {
        text-align: center;
    }
    .color {
        flex-wrap: wrap;
    }
    /* .color1{
        width: 100%;
    } */
    .color .col {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .tr {
        flex-wrap: wrap;
    }
    .main6 {
        flex-wrap: wrap;
        text-align: center;
    }
    .main6 i {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    .main7 h2 {
        text-align: center;
    }
    .main8 {
        flex-wrap: wrap;
    }
    .main8-in1 {
        width: 100%;
        text-align: center;
    }
    .main8-in2 {
        width: 100%;
        text-align: center;
    }
    .main8-in3 {
        width: 100%;
        text-align: center;
    }
    .copy {
        flex-wrap: wrap;
    }
    .form {
        width: 100%;
        text-align: center;
    }
    .form1 {
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }
}